body {
    font-family: Helvetica Neue, Arial, sans-serif;
}

pre {
    font-family: Andale Mono, Consolas, Courier New, monospaced;
}

#topbar {
    position: static;
    top: 0;
    width: 100%;
    background: 
    #222222;
    -webkit-box-shadow: '0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1)';
    -moz-box-shadow: '0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1)';
    box-shadow: '0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1)';
    z-index: 100;
}

section {
    border-bottom-color: rgb(204, 204, 204);
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

.collapsed > div, .collapsed > table, .collapsed > ul, .collapsed > dl { display: none }

.inlinebuttons {
    float: right;
}

.align-right {
    float: right;
}


.ink-button-active {
  background: #dcdcdc;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dcdcdc', endColorstr='#ffffff');
  background: -moz-linear-gradient(top, #dcdcdc 0%, #ffffff 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #dcdcdc), color-stop(100%, #ffffff));
  background: -webkit-linear-gradient(top, #dcdcdc 0%, #ffffff 100%);
  background: -o-linear-gradient(top, #dcdcdc 0%, #ffffff 100%);
  background: -ms-linear-gradient(top, #dcdcdc 0%, #ffffff 100%);
  background: linear-gradient(to bottom, #dcdcdc 0%, #ffffff 100%);
  -webkit-box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.25) inset;
  -moz-box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.25) inset;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.25) inset;
}
