<html xmlns="http://www.w3.org/1999/xhtml" xmlns:py="http://genshi.edgewall.org/" py:strip="">

    <?python
        # Remove bad markup from ctxtnav
        from genshi.builder import Element
        if chrome['ctxtnav']:
            replacements = []
            for item in chrome['ctxtnav']:
                junk = []
                if isinstance(item,str):
                    continue
                for i in item.children:
                    if isinstance(i,Element):
                        replacements.append((item,i))
                    if isinstance(i, Markup):
                        junk.append(i)
                for i in junk:
                    item.children.remove(i)
            for item, i in replacements:
                chrome['ctxtnav'][chrome['ctxtnav'].index(item)] = i

        # init topnav
        chrome['nav']['topnav'] = [
            {'active': True, 'label': Element('a', href='/')('Project'), 'name': 'project'},
            {'override': 'pull-right',
                'label': Element('a', href="#")(
                    Element('img', src='http://intra.sapo.pt/i/avatar/32/rcarmo'),
                    Element('ul', class_ = 'submenu')
                    # TODO - insert preferences submenu here
                )
            },
            {'override': 'pull-right',
                'label': Element('form', action = '/search', class_='ink-form')(
                    Element('div', class_='control')(
                        Element('input', type='search', name='q', class_='search-query', placeholder='Search')
                    )
                )
            }
        ]
    ?>

    <!-- our own main navigation generator -->
    <nav py:def="navigation(category, css_classes='ink-navigation', styling='grey')" id="${category}" class="${css_classes}">
        <ul class="menu horizontal ${styling}" py:if="chrome.nav[category]">
            <li py:for="idx, item in enumerate(chrome.nav[category])" class="${classes(first_last(idx, chrome.nav[category]), active=item.active)} ${item.override}">${item.label}</li>
        </ul>
    </nav>

    <!-- our own context navigation generator -->
    <div py:def="ctxtnav" id="${category}" class="subnav">
        <ul class="nav nav-pills" py:if="chrome.ctxtnav">
            <li py:for="idx, item in enumerate(chrome.ctxnav)" class="${classes(first_last(idx, chrome.ctxtnav))}">$item</li>
        </ul>
    </div>

    <head py:match="head" py:attrs="select('@*')">
        <title py:if="title">$title</title>

        <!-- remove standard Trac css -->
        <link py:match="//link[contains(@href,'/chrome/common/css/wiki.css')]" py:strip="True"></link>
        <link py:match="//link[contains(@href,'/chrome/common/css/trac.css')]" py:strip="True"></link>
        <link py:match="//link[contains(@href,'/chrome/common/css/timeline.css')]" py:strip="True"></link>
        <link py:match="//link[contains(@href,'/chrome/common/css/report.css')]" py:strip="True"></link>
        <link py:match="//link[contains(@href,'/chrome/common/css/roadmap.css')]" py:strip="True"></link>
        <!-- NOTE: CSS ordering is very important here -->
        <link rel="stylesheet" type="text/css" href="${href.chrome('site/css/ink.css')}" />
        <link rel="stylesheet" type="text/css" href="${href.chrome('site/css/trac-ink.css')}" />
        <script type="text/javascript" src="${href.chrome('site/js/brython.js')}"></script>
         ${select('*|comment()|text()')}
    </head>
    
    <body py:match="body" py:attrs="select('@*')">
        <!-- strip the banner div, which we don't need -->
        <div id="banner" py:match="//div[@id='banner']" py:strip="True"/>
        <!-- strip the wiki pagepath, which is a relica of bygone eras... -->
        <div id="pagepath" py:match="//div[@id='pagepath']" py:strip="True"/>
        <!-- strip the ctxtnav, which we'll reposition in each template -->
        <div id="ctxtnav" py:match="//div[@id='ctxtnav']" py:strip="True"/>        
        <nav id="mainnav" py:match="//nav[@id='mainnav']" py:strip="True"/>        

        <div id="topbar">
            ${navigation('topnav','ink-grid ink-navigation','black')}
        </div>

        <div id="main" class="ink-grid" py:match="//div[@id='main']">
            ${navigation('mainnav','ink-navigation vspace','rounded shadowed grey')}
            ${select('*|comment()|text()')}

            <div class="ink-alert block">
                <button class="ink-close">&times;</button>
                <h4>Debugging</h4>
                <p>
                    <pre>${pprint(chrome)}</pre>
                </p>
            </div>

        </div >

        <div id="footer" py:match="//div[@id='footer']">
            <center>
            <a href="${href.about()}"><strong>Trac ${trac.version}</strong></a> by <a href="http://www.edgewall.org/">Edgewall Software</a>. Themed with <a href="http://ink.sapo.pt">InK</a>. Lovingly married at <a href="http://oss.sapo.pt">SAPO</a>.
            </center>
        </div>
        

        ${select('*|comment()|text()')}
    </body>
</html>